<div class="navbar">
  <div class="nav-left">
    <a href='/' title="Home"><i class="fas fa-home"></i></a>
  </div><!-- <div class="nav-right">
    <a href="https://joehall.net/" title="JoeHall.net"          class="external-link" target="_blank"><img class="navbar-icon" src='{{ "/assets/images/joehall-logo-clean-small-2.svg" | toAbsoluteUrl }}'></a>
    <a href="http://gamedevutils.com/" title="GameDevUtils.com" class="external-link" target="_blank"><img class="navbar-icon" src='{{ "/assets/images/GameDevUtils-logo-clean-small-2.svg" | toAbsoluteUrl }}'></a>
    <a href='{{ "/camp" | toAbsoluteUrl }}' title="GameDev Camps"><i class="fas fa-person-chalkboard"></i></a>
    <a href='{{ "/about" | toAbsoluteUrl }}' title="About"><i class="fas fa-question-circle"></i></a>
  </div>-->
  <div class="float-clear"></div>
</div>